body {
	background-color: rgb(231, 249, 225);
	overflow-x: hidden;

}

a{
    color: rgb(4, 84, 87);
	text-decoration: none;
    padding: 5px;
	font-size: 1rem;
	line-height: 1rem;

}

h2{
    text-align: center;
    margin: 50px;
    color: rgb(4, 84, 87);
}