@import "variables";
@import "reset";
@import "body";
@import "carousel";

@import "header";
@import "footer";
@import "index";


iframe{
    width: 100%;
    height: 50%;
    padding: 5%
}

.card-footer{
    height: 8%;
    margin: 10px;
    
    small{
        width: auto;
        height: auto;
    }
        
}

.Reservar{
    width: 100%;
    height: 5%;
}











